.search-form{
  display: flex;
  justify-content: center;
  background-color: blue;
  padding: 10px 0;
  margin-bottom: 15px;
}

.visible {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: blue;
  color: white;
}